.messages {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px 0;
    grid-template-rows: 1fr 50px;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 20px 0;
        border: 2px solid var(--black);
        padding: 15px;
        overflow: hidden auto;
        height: 500px;
        border-radius: 8px;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__input {
        display: flex;
        align-items: center;
        gap: 50px;
    }
}