.message {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    background: var(--black);
    border-radius: 8px;
    padding: 15px;
    justify-content: space-between;
    margin-right: auto;

    &__text {
        font-size: 16px;
        line-height: 150%;
        color: white;
    }

    &__date {
        align-self: flex-end;
        font-size: 12px;
        line-height: 130%;
        color: var(--light-gray);
    }

    &--you {
        margin-left: auto;
        margin-right: 0;
    }
}