.user-search {
    position: relative;
    z-index: 1;
}

.users-list {
    position: absolute;
    top: 38px;
    background: white;
    width: 100%;
    padding-top: 10px;
    z-index: -1;
    border-radius: 8px;

    &__item {
        padding: 5px;
        display: flex;
        align-items: center;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.25s ease-in-out;

        &:hover {
            color: var(--primary);
        }
    }
}