.btn {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: white;
    min-width: 300px;
    min-height: 50px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.25s ease-in-out;

    &:hover {
        opacity: 0.8;
    }

    &--disabled {
        pointer-events: none;
        opacity: 0.8;
    }

    &--loading {
        pointer-events: none;
    }

    &__loader {
        display: flex;
        gap: 0 5px;

        & span {
            display: block;
            border-radius: 100%;
            background-color: white;
            width: 8px;
            height: 8px;
        }

        & span:nth-child(1) {
            animation: opacitychange 1s ease-in-out infinite;
        }

        & span:nth-child(2) {
            animation: opacitychange 1s ease-in-out 0.33s infinite;
        }

        & span:nth-child(3) {
            animation: opacitychange 1s ease-in-out 0.66s infinite;
        }
    }

}

@keyframes opacitychange {

    0%,
    100% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }
}