.input-group {
    display: block;
    position: relative;
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: 0px;

    &__input {
        display: block;
        position: relative;
        width: 100%;
        height: 48px;
        border-radius: 8px;
        padding: 16px;
        background-color: var(--background);
        border: 2px solid var(--light-gray);

        &:focus {
            background-color: var(--background);
            border: 2px solid var(--black);
            outline: none;
        }

        &:not([value=""]) {
            border: 2px solid var(--black);
        }

        &[type="password"] {
            letter-spacing: 2;
        }

        &:focus~.input-group__label,
        &:not([value=""])~.input-group__label {
            top: -10px;
            left: 8px;
            font-size: 14px;
            opacity: 1;
            padding: 1px 8px;
            border-radius: 2px;
        }

        &:not([value=""])~.input-group__label {
            background-color: var(--background);
            color: var(--black);
        }

        &:focus~.input-group__label {
            background-color: var(--black);
            color: white;
        }
    }

    &__label {
        font-size: 16px;
        position: absolute;
        display: inline-block;
        left: 16px;
        top: 14px;
        pointer-events: none;
        z-index: 1;
        color: var(--light-gray);
        opacity: 0.5;
        transition: 0.4s cubic-bezier(0.65, -0.32, 0.38, 1.23) all;
    }
}