// font-weight helper:
// 100 Extra Light or Ultra Light;
// 200 Light or Thin; 300 Book or Demi;
// 400 Regular or Normal;
// 500 Medium;
// 600 Semibold or Demibold;
// 700 Bold;
// 800 Black or Extra Bold or Heavy;
// 900 Extra Black or Fat or Ultra Black

// @include font-face(FONT NAME, 'PATH', WEIGHT, NORMAL\ITALIC, FORMATS)
// @include font-face(Samplinal, fonts/Samplinal, 500, normal, eot woff2 woff)
@include font-face(Montserrat, '../fonts/Montserrat/Montserrat-Light', 300, normal, ttf);
@include font-face(Montserrat, '../fonts/Montserrat/Montserrat-Regular', 400, normal, ttf);
@include font-face(Montserrat, '../fonts/Montserrat/Montserrat-Medium', 500, normal, ttf);
@include font-face(Montserrat, '../fonts/Montserrat/Montserrat-Bold', 700, normal, ttf);