@import './_variables.scss';
@import './_libs';
@import './_mixins.scss';
@import './_fonts';

* {
    box-sizing: border-box;
    font-family: Montserrat, serif
}

body {
    background-color: #f1f1f1;
}

a {
    color: var(--black);
    font-size: 24px;
    transition: all 0.25s ease-in-out;
    text-align: center;

    &:hover {
        color: var(--primary);
    }
}

.container {
    max-width: 1280px;
    margin: 0 auto
}